/* Color Theme Swatches in Hex */
$Unicorn-1-hex: #F5BED2;
$Unicorn-2-hex: #FAE6E8;
$Unicorn-3-hex: #9C648F;
$Unicorn-4-hex: #61B1D9;
$Unicorn-5-hex: #CBF5FC;

/* Color Theme Swatches in RGBA */
$Unicorn-1-rgba: rgba(244,189,209, 1);
$Unicorn-2-rgba: rgba(249,230,232, 1);
$Unicorn-3-rgba: rgba(156,100,142, 1);
$Unicorn-4-rgba: rgba(96,177,216, 1);
$Unicorn-5-rgba: rgba(202,244,251, 1);

/* Color Theme Swatches in HSLA */
$Unicorn-1-hsla: hsla(338, 73, 85, 1);
$Unicorn-2-hsla: hsla(354, 66, 94, 1);
$Unicorn-3-hsla: hsla(313, 22, 50, 1);
$Unicorn-4-hsla: hsla(199, 61, 61, 1);
$Unicorn-5-hsla: hsla(188, 89, 89, 1);

/* Color Theme Swatches in Hex */
.Unicorn-1-hex { color: #D3A7D9; }
.Unicorn-1-hex { color: #CEBFD9; }
.Unicorn-1-hex { color: #EDEBF2; }
.Unicorn-1-hex { color: #9BE2F2; }
.Unicorn-1-hex { color: #94F2F2; }

/* Color Theme Swatches in RGBA */
.Unicorn-1-rgba { color: rgba(210, 166, 216, 1); }
.Unicorn-2-rgba { color: rgba(206, 190, 216, 1); }
.Unicorn-3-rgba { color: rgba(237, 234, 242, 1); }
.Unicorn-4-rgba { color: rgba(155, 226, 242, 1); }
.Unicorn-5-rgba { color: rgba(147, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.Unicorn-1-hsla { color: hsla(292, 39, 75, 1); }
.Unicorn-2-hsla { color: hsla(275, 25, 79, 1); }
.Unicorn-3-hsla { color: hsla(258, 22, 93, 1); }
.Unicorn-4-hsla { color: hsla(191, 77, 77, 1); }
.Unicorn-5-hsla { color: hsla(180, 78, 76, 1); }
