@import 'styles/vendors/normalize';
@import 'styles/modules/index';

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.col-1 {
  flex: 1;
  background: $Unicorn-1-hex;
}

.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.content {
  display: flex;
  flex-direction: row;
  article {
    flex: 4;
    min-height: 60vh;
  }
}

header, footer {
  background: $Unicorn-4-hex;
  height: 20vh;
}

header, footer, article, nav {
  padding: 1em;
}
