<template>
  <div class="container">
    <Exchange msg="Exchange on Uniswap DEX"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Exchange from '@/components/Exchange.vue'; // @ is an alias to /src

@Component({
  components: {
    Exchange,
  },
})
export default class Home extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container {
  width: 1000px;
}
</style>
