<template>
  <footer>
    <div>
      <p>The Uniswap contracts charge a 0.3% fee for providing liquidity.</p>
      <p>We don’t charge any fees for using this site.</p>
      <p>To keep this site operational please make a donation.</p>
    </div>
    <div>
      <img alt="Uniswap Dex" width="20" src="../assets/shardus.svg">
      Built by the <a href="https://shardus.com/" target="_blank">Shardus</a> team on <a href="https://gitlab.com" target="_blank">GitLab</a>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Footer extends Vue {
  @Prop() private msg!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
footer {
  img {
    position: relative;
    top: 0.25rem;
  }
}
</style>
