<template>
<!-- https://www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/examples/flexbox_website_layout_3 -->
  <div id="app">
    <nav class="col-1">
      <div>
        <img alt="Uniswap Dex" width="120" src="./assets/unicorns.png">
        <h1>UniswapDEX</h1>
      </div>
      <ul>
        <li><router-link to="/">EXCHANGE</router-link></li>
        <li><router-link to="/wallet">WALLET</router-link></li>
        <li><router-link to="/market">MARKET</router-link></li>
      </ul>
    </nav>
    <div class="col-2">
      <header>Header</header>
      <main class="content">
        <router-view/>
      </main>
      <Footer/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Footer from '@/components/Footer.vue'; // @ is an alias to /src

@Component({
  components: {
    Footer,
  },
})
export default class Home extends Vue {}
</script>

<style lang="scss">
  @import "./styles/app.scss";
</style>
